<div class="row" style="min-height:100%">
    <div class="vertical-menu col-sm-3 fixed" >
      <label *ngIf="forSUE()"  (click)="addRequest()" [ngClass]="{'active':gotAddRequest}">Add Education </label>
      <label *ngIf="forSE()" (click)="updateRequest()" [ngClass]="{'active':gotUpdateRequest}">Update Education Details</label>
      <label *ngIf="forSEE()" (click)="addWorkRequest()" [ngClass]="{'active':gotExpAddRequest}">Add Work Information</label>
      <label *ngIf="accountType == 'employee'" (click)="updateWorkRequest()" [ngClass]="{'active':gotExpUpdateRequest}">Update Working Information</label>
      <label (click)="editProfile()" [ngClass]="{'active':personalUpdate}">Update Personal Information</label>
    </div>
    <div class="col-sm-1"></div>
    <div class="contentDivs col-sm-6" *ngIf="forms[0]">  
      <div class="form-group"   *ngIf="forAdmins()">
        <input class="form-control mr-sm-2" type="text" placeholder=" Enter Student Unique ID" aria-describedby="passHelp">
        <small id="passHelp" class="form-text text-muted">Make sure unique id is of desired candidate</small>
        <div class="ll" *ngIf="!isValidRequest && (!gotUpdateRequest || !gotAddRequest) ">
          <button class="btn btn-outline-info col-sm-4 decider" (click)="forAdminrequest()"  type="submit" >Add details</button>
        </div> 
      </div>
      <div *ngIf="gotUpdateRequest && !isValidRequest" class="row" >
        <select class="form-control col-sm-5 lr" id="sel1" [(ngModel)]="eduToEdit">
          <option hidden="true">- Select Degree - </option>
          <option *ngFor="let edu of eduOptions">{{edu}}</option>
        </select>
       
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button  style="margin-top:3% !important" class="btn btn-outline-info my-sm-1" (click)="getEduForm()">Get Update Form</button>&nbsp;&nbsp;&nbsp;
        <!--<button class="btn btn-outline-danger col-sm-2" style="height: 39px;margin-top:22px;" type="button" (click)="cancel()" > Cancel </button>-->
      </div>
      <div class="detailsForm" *ngIf="isValidRequest">
        <form class="form-group" style="margin-top:-26px" [formGroup]="addForm" (ngSubmit)="addDetails($event)">
          <div id="eduForm" class="row" *ngIf="addEduDetails">
            <div formArrayName="education" >
              <div *ngFor="let education of addForm.controls.education.controls; let i=index" id="eduDetails">
                <!-- address header, show remove button when more than one address available -->
                <div  class="panel-heading">
                    <span>Education Details  <span style="margin-left: 10%" *ngIf="addForm.controls.education.controls.length > 1" (click)="removeEdu(i)"> <i>&#10006;</i>
                    </span></span><br>  
                </div>
    
                <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
                <div [formGroupName]="i" class="col-sm-11" style="border: 0 2px 2px 2px">
                  <!--street-->
                  <div class="row">
                    <div class="col-sm-12">
                        <label for="collegeName">Institute Name</label>
                        <input  id="collegeName" class="form-control col-sm-12 mr-sm-2" formControlName="collegeName" type="text" placeholder=" Enter College Name " ><br>
                    </div>
                    <div class="col-sm-6">
                        <label for="degree">Degree Name</label>
                        <input id="degree" class="form-control col-sm-12 mr-sm-2 " formControlName="degree" type="text" placeholder=" Enter Degree " ><br>  
                    </div>
                    <div class="col-sm-6">
                        <label for="Score">Percentage</label>
                        <input  id="Score" class="form-control col-sm-12 mr-sm-2 " formControlName="score" type="text" placeholder=" Percentage " ><br>
                    </div>
                    <div class="col-sm-6">
                        <label for="board">Board Affiliated </label>
                        <input id="board" class="form-control col-sm-12 mr-sm-2 " formControlName="board" type="text" placeholder=" Board affilated to " ><br>
                    </div>
                    <div class="col-sm-6">
                        <label for="CmpltdYr">Completed Year</label>
                        <input id="CmpltdYr" class="form-control col-sm-12 mr-sm-2 " formControlName="completedYear" type="text" placeholder="completed year " ><br>
                    </div>
                  </div><br>
                <div>
                </div>
              </div>
           </div>
           <div class="margin-20" style="color:blue;" *ngIf="addForm.controls.education.controls.length < 3 && !gotUpdateRequest">
              <a (click)="addEdu()" style="cursor: pointer">
                  <h4 style="display:inline">+</h4>  Add more Education Details 
              </a>
            </div>
            <div class="ll" style="margin-left:1.2rem">
              <button class="btn btn-outline-info col-sm-4" type="submit"  *ngIf="gotAddRequest">Add</button>
              <button class="btn btn-outline-info col-sm-4" type="submit" *ngIf="gotUpdateRequest">Update</button>
              <button class="btn btn-outline-danger col-sm-4" type="button" (click)="updateRequest()" *ngIf=" gotUpdateRequest" > Cancel </button>
            </div>
          </div> 
          </div>
        </form>
      </div>
    </div>
    <div class="contentDivs col-sm-6" *ngIf="forms[1]">
        <div class="form-group"   *ngIf="workIdFound == false">
            <input *ngIf="forWorkAdmins()" class="form-control mr-sm-2" type="text" placeholder=" Enter Student Unique ID" aria-describedby="passHelp">
            <small *ngIf="forWorkAdmins()" id="passHelp" class="form-text text-muted">Make sure unique id is of desired candidate</small>
            <div class="ll" *ngIf="!isValidRequest && (!gotExpUpdateRequest || !gotExpAddRequest) ">
              <button class="btn btn-outline-info col-sm-4 decider" *ngIf="forWorkAdmins()" (click)="forWorkAdminrequest()"  type="submit" >Add details</button>
            </div> 
          </div>
          <div *ngIf="gotExpUpdateRequest && !isValidRequest" class="row">
            <select class="form-control col-sm-5 lr" id="sel1" [(ngModel)]="companyToEdit">
              <option hidden="true">- Select Company - </option>
              <option *ngFor="let work of workOptions">{{work}}</option>
            </select>
           
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button  style="margin-top:3% !important" class="btn btn-outline-info my-sm-1" (click)="getWorkForm()">Get Update Form</button>&nbsp;&nbsp;&nbsp;
            <!--<button class="btn btn-outline-danger col-sm-2" style="height: 39px;margin-top:22px;" type="button" (click)="cancel()" > Cancel </button>-->
          </div>
          <div class="detailsForm" *ngIf="isValidRequest">
            <form class="form-group" style="margin-top:-26px" [formGroup]="workForm" (ngSubmit)="addworkDetails($event)">
              <div id="WorkForm" class="row" *ngIf="addWorkDetailsForm">
                <div formArrayName="experience" >
                  <div *ngFor="let experience of workForm.controls.experience.controls; let i=index" id="workDetails">
                    <!-- address header, show remove button when more than one address available -->
                    <div  class="panel-heading">
                        <span>Experience Details  <span style="margin-left: 10%" *ngIf="workForm.controls.experience.controls.length > 1" (click)="removeWork(i)"> <i>&#10006;</i>
                        </span></span><br>  
                    </div>
        
                    <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
                    <div [formGroupName]="i" class="col-sm-11" style="border: 0 2px 2px 2px">
                      <!--street-->
                      <div class="row">
                        <div class="col-sm-12">
                            <label for="Designation">Designation</label>
                            <input  id="Designation" class="form-control col-sm-12 mr-sm-2" formControlName="designation" type="text" placeholder=" Enter Designation " ><br>
                        </div>
                        <div class="col-sm-6">
                            <label for="CompanyName">Organisation Name</label>
                            <input  id="CompanyName" class="form-control col-sm-12 mr-sm-2 "  formControlName="companyName" type="text" placeholder=" Company name " ><br>
                        </div>
                        <div class="col-sm-6">
                            <label for="Location">Location </label>
                            <input id="Location" class="form-control col-sm-12 mr-sm-2 " formControlName="location" type="text" placeholder=" Location " ><br>
                        </div>
                        <div class="col-sm-6">
                            <label for="YearOfJoining">Year Of Joining</label>
                            <input id="YearOfJoining" class="form-control col-sm-12 mr-sm-2 " date-format="YYYY-MM-DD hh:mm:ss" formControlName="yearOfJoining" type="date" placeholder=" Enter Joining year " ><br>  
                        </div>
                        <div class="col-sm-6">
                            <label for="dor">Date of Relieving</label>
                            <input id="dor" class="form-control col-sm-12 mr-sm-2 " date-format="YYYY-MM-DD hh:mm:ss"  formControlName="dor" type="date" placeholder=" Releiving Date " ><br>
                        </div>
                        <div class="col-sm-6">
                            <input  formControlName="stillWorking" type="checkbox" >&nbsp;
                            <label *ngIf="accountType == 'employee'"> I'm currently working here </label>
                            <label *ngIf="accountType == 'employer'"> S/He is currently working here </label>
                        </div>
                      </div><br>
                    <div>
                    </div>
                  </div>
               </div>
               <div class="margin-20" style="color:blue;" *ngIf="workForm.controls.experience.controls.length < 3 && !gotExpUpdateRequest && accountType == 'employee'">
                  <a (click)="addWork()" style="cursor: pointer">
                      <h4 style="display:inline">+</h4>  Add more Experience Details 
                  </a>
                </div>
                <div class="ll" style="margin-left:1.2rem">
                  <button class="btn btn-outline-info col-sm-4" type="submit"  *ngIf="gotExpAddRequest">Add</button>
                  <button class="btn btn-outline-info col-sm-4" type="submit" *ngIf="gotExpUpdateRequest">Update</button>
                  <button class="btn btn-outline-danger col-sm-4" type="button" (click)="updateExpRequest()" *ngIf=" gotExpUpdateRequest" > Cancel </button>
                  <button class="btn btn-outline-danger col-sm-4" type="button" (click)="addWorkRequest()" *ngIf=" gotExpAddRequest" > Cancel </button>
                </div>
              </div> 
              </div>
            </form>
    </div>
  </div>