

.sidebar{
    height: 100%;
    border-right: 1px solid black;
    font-family: cursive;
    font-size: 1.1rem;
    font-weight: normal;
    border-radius: 5px;
    position: fixed; 
}
.sidebar label{
    margin: 10px;
    width: 100%;
    padding: 10px
}
.sidebar label:hover{
   color: black;
   font-weight: bolder;
}
.contentDivs{
    margin-left: 23%;
    margin-top: 10px;
}
.contentDivs button{
    font-family: cursive;
}
.cursive{
    font-family: cursive;
}
.active{
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}
.decider{
    margin-left: 2%;
}
.decider1{
    margin-left: 20%;
}
.btnActive{
    background-color: #18242e;
    color:#fff;
}
.btn-outline-success:active{
    border: none !important;
}
.formDiv{
    margin:10px 2px;
}
.lr{
    margin-left:34px !important;
    margin-top:25px;
}
.ll{
    margin-top:25px;
    margin-left:10px;
}
.card{
    border: 1rem solid black;
}
.panel-heading{
    background-color: rgb(218, 212, 212);
    text-align: center;
    padding: 10px;
    margin-bottom: 1rem;
}
#eduForm{
    margin-top:2%;
}
#eduDetails{
    border: 2px rgb(218, 212, 212);
}
.vertical-menu {
    width: 350px;
    position:fixed;
}

.vertical-menu label {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    border-radius:10px;
    margin-left:2px;
}

.vertical-menu label:hover {
    background-color: #ccc;
}

.vertical-menu label.active {
    background-color: #0c5460;
    color: white;
}