<div class="container">
  <div *ngIf="searching">
    <form class="form-group" style="padding:10px 15%" [formGroup]="searchForm" (ngSubmit)="searchDetails($event)">
      <input class="form-control mr-sm-2" formControlName="uniqueId" type="text" placeholder=" Enter Student Unique ID" aria-describedby="passHelp">
      <small id="passHelp" class="form-text text-muted">Make sure unique id is of desired candidate</small>
      <div class="row formDiv">
        <div id="networkDetails" class="row">
          <input class="form-control col-sm-3 mr-sm-2 lr" formControlName="channelName" type="text" placeholder=" Channel Name " ><br>
          <input class="form-control col-sm-3 mr-sm-2 lr" formControlName="chaincodeName" type="text" placeholder=" Chaincode Name " ><br>
          <input class="form-control col-sm-3 mr-sm-2 lr" formControlName="chaincodeVersion" type="text" placeholder=" Chaincode version " ><br>
        </div>  
        <div class="col-sm-12">
          <label class="cursive ll" >Select on which peers to add details</label><br>
          <input type="checkbox" formControlName="peer1" value="peer1"> peer1 &nbsp;
          <input type="checkbox" formControlName="peer2" value="peer2"> peer2 <br><br>
        </div>
      </div>
      <div class="ll" *ngIf="studentDetails.StudentDetails === undefined">
        <button class="btn btn-outline-info col-sm-3 decider" style="margin-left:30%" type="submit" > Search </button>
      </div> 
    </form>
  </div>
  <div *ngIf="!searching" class="col-sm-12">
      <button class="btn btn-outline-success col-sm-3 decider" style="margin-left:70%" type="button" (click)="search()" > Search </button>
  </div>
  <div *ngIf="!searching">
    <table class="table table-bodered">
      <tr><td class="text-center edu" colspan="4">Personal Details</td></tr>
      <tr><td><label>Name </label></td><td>:</td><td>{{studentDetails.username}}</td></tr>
      <tr><td><label>DOB</label></td><td>:</td><td>{{studentDetails.DateOfBirth | date}}</td></tr>
      <tr><td><label>Age</label></td><td>:</td><td>{{studentDetails.DateOfBirth - 2017}}</td></tr>
      <tr><td><label>Gender</label></td><td>:</td><td>{{studentDetails.gender}}</td></tr>
    </table>
    <table class="table table-bodered">
      <tr><td class="text-center edu" colspan="5">Education Details</td></tr>
      <tr class="heading"> <td>Degree</td><td>Board</td><td>College Name</td><td>Score</td><td>College Code</td></tr>
      <tr *ngFor="let edu of studentDetails.education" class="info">
        
          <td><span> {{edu.degree}} </span></td>
          <td><span>{{edu.board}}</span></td>
          <td><span>{{edu.Institute}}</span></td>
          <td><span>{{edu.score}}</span></td>
          <td><span>{{edu.yearOfPassout}}</span></td>

      </tr>
    </table>
    <table class="table table-bodered">
      <tr><td class="text-center edu" colspan="4">Work Details</td></tr>
      <tr class="heading"><td>Designation</td><td>Company</td><td>Location</td><td>Working From</td>      </tr>
      <tr  class="info">
         <td colspan="4"> Not Yet Working </td>
      </tr>
    </table>
        
    </div>
  </div>

