
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">GetInfo.com</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse navdiv" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto" *ngIf="loggedIn">
          <li class="nav-item">
            <a routerLink="/dashboard" class="nav-link" routerLinkActive="active">Dashboard</a>
          </li>
          <li class="nav-item">
              <a routerLink="/requests" class="nav-link" routerLinkActive="active">Raise request</a>
          </li>
          <li class="nav-item" *ngIf="!navDiff()">
              <a routerLink="/search" class="nav-link" routerLinkActive="active">Search Information</a>
          </li>
          <li class="nav-item" *ngIf="navDiff()">
              <a routerLink="/mydetails" class="nav-link" routerLinkActive="active"> My Details</a>
          </li>
          <li class="nav-item" *ngIf="isAdmin">
              <a routerLink="/admindash" class="nav-link" routerLinkActive="active">Admindash</a>
          </li>
        </ul>
      </div>
    </nav>
    <div style="margin-top:7%" *ngIf="!loggedIn">
      <app-home (messageEvent)="receiveMessage($event)"></app-home>
    </div>
    <div style="margin-top:7%" *ngIf="loggedIn">
        <router-outlet></router-outlet>
      </div>
      <div style="clear:both"></div>
    <footer class="container text-center"style="padding:7%">
      <p>&copy; Company 2017</p>
    </footer>