<div>
<div class="container" [ngClass]="isLoading === false?'':'loadingBG'">
  <div class="row">
      <div>
          <img *ngIf="accounType != 'employer'"  class="image" style="height:200px;width:200px;border-radius:50%">
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-3"><b><label>ID</label></b></div><b>:</b>
          <div class="col-sm-7">{{user.id}}</div>
        </div>
        <div class="row">
          <div class="col-sm-3"><label><b>Name</b></label></div><b>:</b>
          <div class="col-sm-7">{{user.name}}</div>
        </div>
        <div class="row" *ngIf="accounType == 'student'">
          <div class="col-sm-3"><label><b>Studying In </b></label></div><b>:</b>
          <div class="col-sm-7">{{user.studyingIn}}</div>
        </div>
        <div class="row" *ngIf="accounType != 'student'">
          <div class="col-sm-3"><label><b>Works In </b></label></div><b>:</b>
          <div class="col-sm-7">{{user.worksin}}</div>
        </div>
        <div class="row" *ngIf="accounType != 'student'">
          <div class="col-sm-3"><label><b>Designation </b></label></div><b>:</b>
          <div class="col-sm-7">{{user.position}}</div>
        </div>
        <div class="row" *ngIf="adminRightsInfo()">
          <div class="col-sm-3"><label><b>Have Admin Rights </b></label></div><b>:</b>
          <div class="col-sm-7">{{user.isAdmin}}</div>
        </div>
        <br *ngIf="accounType == 'student'"><br *ngIf="accounType == 'student'">
        <div class="row">
          <div class="col-sm-3"><button class="btn btn-outline-info" (click)="navToDetails()">View My Information On the Network</button></div>
        </div>
      </div>
      
  </div> <br><br>
  
  <!--<table class="table table-bodered" *ngIf="accounType == 'student'">
    <tr>
      <td><label class="bold">ID :</label></td><td>:</td><td>{{user.id}}</td>
      <td><label>Name </label></td><td>:</td><td>{{user.name}}</td>
    </tr>
    <tr>
      <td><label>Studying In </label></td><td>:</td><td>{{user.studyingIn}}</td>
    </tr>
  </table>
  <table class="table table-bodered" *ngIf="accounType != 'student'">
      <tr>
        <td><label >ID :</label></td><td>:</td><td>{{user.id}}</td>
        <td colspan="2"><label>Name </label></td><td>:</td><td>{{user.name}}</td>
        <td><label>Works In </label></td><td>:</td><td>{{user.worksin}}</td>
      </tr>
      <tr>
        <td><label>Working as </label></td><td>:</td><td>{{user.position}}</td>
        <td><label>Has admin rights </label></td><td>:</td><td>{{user.isAdmin}}</td>
      </tr>
    </table>
  <table class="table table-bodered">
    <tr><td class="edu" colspan="100%"><a class="col-sm-4">Pending Requests</a><a class="col-sm-4">Approved Requests</a><a class="col-sm-4">Rejectd Requests</a></td></tr>
    <tr class="heading"> <td>Degree</td><td>Board</td><td>College Name</td><td>Score</td><td>College Code</td><td> Actions </td></tr>
    <tr *ngFor="let edu of details.education" class="info">
     
       <td><span> {{edu.degree}} </span></td>
       <td><span>{{edu.board}}</span></td>
       <td><span>{{edu.clgName}}</span></td>
       <td><span>{{edu.score}}</span></td>
       <td><span>{{edu.clgCode}}</span></td>
       <td><button class="btn btn-info"> Approve </button>&nbsp;&nbsp;&nbsp;<button class="btn btn-danger"> Reject </button></td>
    </tr>
  </table>-->
  <div class="row">
      <!--<div class="col-sm-3" style="clear:both"></div>
      <div class="edu col-sm-6" style="height:40px">
        <a class="col-sm-4" [ngClass]="{'act':form[0]}"  (click)="changeForm(0)" > Pending Requests </a>
        <a class="col-sm-4" (click)="changeForm(1)" [ngClass]="{'act':form[1]}"> Approved Requests </a>
        <a class="col-sm-4" (click)="changeForm(2)" [ngClass]="{'act':form[2]}"> Rejected Requests </a>
      </div>-->
      <div class=" container col-sm-12 btn-group" style="margin-left:30%">
          <button (click)="changeForm(0)"  [ngClass]="{'btn btn-info':form[0],' btn btn-outline-info':form[1]||form[2]}">Pending Requests</button>
          <button (click)="changeForm(1)" [ngClass]="{'btn btn-info':form[1],'btn btn-outline-info':form[0]||form[2]}">Approved Requests</button>
          <button (click)="changeForm(2)" [ngClass]="{'btn btn-info':form[2],'btn btn-outline-info':form[1]||form[0]}">Denied Requests</button>
        </div>
  </div><br><br>
  <div *ngIf="accounType != 'employer'" [ngClass]="{'col-sm-6':(accountType == 'employee')}">
    <div class="container col-sm-12 tp" *ngIf="form[0]">
      <table class="table table-hover tp" *ngIf="userRequests?.education?.pending.length > 0">
        <tr class="heading"> <td *ngIf="forSE()">Student ID</td><td>Request Type</td><td> Degree </td><td>Institution</td><td>Location</td><td>Score</td><td>Passed Out Year</td><td>Requested Time</td><td *ngIf="accounType == 'universityStaff'"> Actions </td></tr>
        <tr *ngFor="let edu of userRequests?.education?.pending;let i=index" class="info">
          
            <td *ngIf="forSE()"><span> {{edu.studentId}} </span></td>
            <td><span>{{edu.RequestType}}</span></td>
            <td><span>{{edu.degree}}</span></td>
            <td><span>{{edu.clgname}}</span></td>
            <td>{{edu.location}}</td>
            <td><span>{{edu.Percentage}}</span></td>
            <td><span>{{edu.yop}}</span></td>
            <td><span>{{edu.timeenrolled | date}}</span></td>
            <td *ngIf="accounType == 'universityStaff'"><button class="btn btn-outline-info" (click)="approve(i)"> Approve </button>&nbsp;&nbsp;&nbsp;<button class="btn btn-outline-danger" (click)="reject(i)"> Reject </button></td>
        </tr>
      </table>
    </div>
    <div class="container col-sm-12 tp" *ngIf="form[1]">
      <table class="table table-hover tp" *ngIf="userRequests?.education?.approved.length > 0">
        <thead>
            <tr class="heading"> <td *ngIf="forSE()">Student ID</td><td>Request Type</td><td> Degree </td><td>Institution</td><td>Location</td><td>Score</td><td>Passed Out Year</td><td>Requested Time</td><td> Status </td></tr>
        </thead>
       <tbody class="tp">
          <tr *ngFor="let edu of userRequests.education.approved;let i=index" class="info">
              
                <td *ngIf="forSE()"><span> {{edu.studentId}} </span></td>
                <td><span>{{edu.RequestType}}</span></td>
                <td><span>{{edu.degree}}</span></td>
                <td><span>{{edu.clgname}}</span></td>
                <td>{{edu.location}}</td>
                <td><span>{{edu.Percentage}}</span></td>
                <td><span>{{edu.yop}}</span></td>
                <td><span>{{edu.timeenrolled | date}}</span></td>
                <td><h5 class="btn btn-info" disabled> Approved </h5></td>
            </tr>
       </tbody>
      </table>
    </div>
    <div class="container col-sm-12 tp" *ngIf="form[2]">
      <table class="table table-hover" *ngIf="userRequests?.education?.rejected.length!=0" >
          <tr class="heading"> <td *ngIf="forSE()">Student ID</td><td>Request Type</td><td> Degree </td><td>Institution</td><td>Location</td><td>Score</td><td>Passed Out Year</td><td>Requested Time</td><td> Status </td></tr>
          <tr *ngFor="let edu of userRequests?.education?.rejected;let i=index" class="info">
              
                <td *ngIf="forSE()"><span> {{edu.studentId}} </span></td>
                <td><span>{{edu.RequestType}}</span></td>
                <td><span>{{edu.degree}}</span></td>
                <td><span>{{edu.clgname}}</span></td>
                <td>{{edu.location}}</td>
                <td><span>{{edu.Percentage}}</span></td>
                <td><span>{{edu.yop}}</span></td>
                <td><span>{{edu.timeenrolled | date}}</span></td>
            <td><h5 class="btn btn-danger" disabled> Rejected </h5></td>
        </tr>
      </table>
    </div>
  </div>
  <div *ngIf="forEE()" [ngClass]="{'col-sm-6':(accountType == 'employee')}">
    <div class="container col-sm-12 tp" *ngIf="form[0]">
      <table class="table table-hover tp adu" *ngIf="userRequests?.experience?.pending.length > 0">
        <tr style="font-size:.8rem" class="heading"> <td *ngIf="accounType != 'employee'">Employee ID</td><td>Request Type</td><td> Designation </td><td>Company Name</td><td>Location</td><td>Year Of joining</td><td> Date of relieving</td><td>Experience</td><td>Requested Time</td><td *ngIf="accounType == 'employer'" > Actions </td></tr>
        <tr style="font-size:.9rem" *ngFor="let edu of userRequests.experience.pending;let i=index" class="info">
          
            <td *ngIf="accounType != 'employee'"><span> {{edu.employeeId}} </span></td>
            <td><span>{{edu.RequestType}} </span></td>
            <td><span>{{edu.designation}}</span></td>
            <td><span>{{edu.companyname}}</span></td>
            <td>{{edu.location}}</td>
            <td><span>{{edu.yoj | date}}</span></td>
            <td><span>{{edu.dor | date}}</span></td>
            <td><span>{{edu.experience}} (in Year)</span></td>
            <td><span>{{edu.timeenrolled | date}}</span></td>
            <td *ngIf="accounType == 'employer'" colspan="2"><button class="btn btn-outline-info btn-sm" (click)="approveWork(i)"> Approve </button>&nbsp;&nbsp;&nbsp;
              <button class="btn btn-outline-danger btn-sm" (click)="rejectWork(i)"> Reject </button></td>
        </tr>
      </table>
    </div>
    <div class="container col-sm-12 tp" *ngIf="form[1]">
      <table class="table table-sm tp exp" *ngIf="userRequests?.experience?.approved.length > 0">
        <thead>
          <tr style="font-size:.8rem" class="heading"> <td *ngIf="accounType != 'employee'">Employee ID</td><td>Request Type</td><td> Designation </td><td>Company Name</td><td>Location</td><td>Year Of joining</td><td> Date of relieving</td><td>Experience</td><td>Requested Time</td><td> Actions </td></tr>
        </thead>
       <tbody class="tp">
          <tr style="font-size: .9rem" *ngFor="let edu of userRequests.experience.approved;let i=index" class="info">
              
                <td *ngIf="accounType != 'employee'"><span> {{edu.employeeId}} </span></td>
                <td><span>{{edu.RequestType}} </span></td>
                <td><span>{{edu.designation}}</span></td>
                <td><span>{{edu.companyname}}</span></td>
                <td>{{edu.location}}</td>
                <td><span>{{edu.yoj | date}}</span></td>
                <td><span>{{edu.dor | date}}</span></td>
                <td><span>{{edu.experience}} (in Year)</span></td>
                <td><span>{{edu.timeenrolled | date}}</span></td>
                <td><h5 class="btn btn-info" disabled> Approved </h5></td>
            </tr>
       </tbody>
      </table>
    </div>
    <div class="container col-sm-12 tp" *ngIf="form[2]">
      <table class="table table-hover" *ngIf="userRequests?.experience?.rejected.length > 0">
        <tr style="font-size:.8rem" class="heading"> <td *ngIf="accounType != 'employee'">Employee ID</td><td>Request Type</td><td> Designation </td><td>Company Name</td><td>Location</td><td>Year Of joining</td><td> Date of relieving</td><td>Experience</td><td>Requested Time</td><td> status </td></tr>
          <tr style="font-size:.9rem" *ngFor="let edu of userRequests.experience.rejected;let i=index" class="info">
              
                <td *ngIf="accounType != 'employee'"><span> {{edu.employeeId}} </span></td>
                <td><span>{{edu.RequestType}}</span></td>
                <td><span>{{edu.designation}}</span></td>
                <td><span>{{edu.companyname}}</span></td>
                <td>{{edu.location}}</td>
                <td><span>{{edu.yoj | date}}</span></td>
                <td><span>{{edu.dor | date}}</span></td>
                <td><span>{{edu.experience}} (in Year)</span></td>
                <td><span>{{edu.timeenrolled | date}}</span></td>
            <td><h5 class="btn btn-danger" disabled> Rejected </h5></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div [ngClass]="isLoading === false?'':'overlay'" *ngIf="isLoading==true">
  <!--<div [ngClass]="isLoading === false?'':'loadingFG'">
 </div>
 <div *ngIf="isLoading=== true" style="z-index: 4;margin: 25% 45%;color: #f4f3f3;">
   Loading...
 </div>-->
 <div id="load">
  <div><h3><b>G</b></h3></div>
  <div><h3><b>N</b></h3></div>
  <div><h3><b>I</b></h3></div>
  <div><h3><b>D</b></h3></div>
  <div><h3><b>A</b></h3></div>
  <div><h3><b>O</b></h3></div>
  <div><h3><b>L</b></h3></div>
</div>
</div>
</div>