table{
    margin-top:10px;
}
.edu{
    background-color: #0c5460;
    color:#fff;
    font-family: cursive bold;
    font-size: 1rem;
    border-radius: 7px;
    box-shadow: 2px 2px 2px;
    padding-top:7px;
}
.edu a{
   color:#fff;
   text-decoration: none;
   cursor: pointer; 
   padding:10px 10px 13px 10px;
}
.heading{
    font-weight: bold;
    overflow: hidden;
}
.heading:hover{
    background-color:#fff;
}
.info{
    font-family: cursive;
}
.tp{
    max-height: 400px;
    overflow: auto
}
.act{
    background-color: #1d2023;
    font-size: 1rem;
    border-radius: 7px;
    padding:10px 10px 13px 10px;
}