#myDIV {
    margin-left:10px;
    margin-bottom:2rem;
    padding:10px;
    border-radius:6px;
    background-color:#e9ecef;
    box-shadow:2px 2px 2px;
    height:auto;
   
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 2s 5;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {box-shadow: 8px 10px 15px rgb(23, 23, 26);}
}

/* Standard syntax */
@keyframes mymove {
    50% {box-shadow: 8px 10px 15px rgb(24, 24, 26);}
}
main{
    overflow-x: hidden;
}