<main role="main">
  
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="row" *ngIf="login">
          <div class="jumbotron col-sm-9" style="margin-left:1rem">
            <div class="container">
              <h1 class="display-3">Get Students Information </h1>
              <p>This is a template for a simple blockchain example for demosttrating the open ledger student information</p>
              <p></p>
            </div>
          </div>
          <div id="myDIV" *ngIf="login" >
            <h2 class="text-center" style="color:rgb(53, 49, 70);text-shadow: 1px 1px 1px  blue;font-family:cursive">Login</h2><hr>
            <form class="form-group" style="padding:10px" [formGroup]="loginForm" (ngSubmit)="enroll($event)">
              <input class="form-control mr-sm-2" formControlName="username" autofocus type="text" placeholder=" Username" required><br>
              <input class="form-control mr-sm-2" formControlName="passkey" type="password" placeholder=" Password" required><br>
              <input class="form-control mr-sm-2" formControlName="orgName" type="text" placeholder=" Org Name" required><br>
              <button class="btn btn-outline-success col-sm-12" type="submit" [disabled]="loginForm.invalid" >Enroll into Network</button><br><br>
              <span>Not registered... <a href="#" (click)="login = false" style="font-family:cursive">Register Here</a></span>
            </form>
          </div>
        </div>  
        <div class="container" *ngIf="login">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-4">
              <h2>Documentation</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <h2>About</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <h2>Heading</h2>
              <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
          </div>
  
          <hr>
  
        </div> <!-- /container -->
        <div *ngIf="!login" style="margin:0 20%;padding:20px;border-radius:10px;background-color:rgba(189, 183, 183, 0.336);box-shadow:2px 2px 2px;height:auto">
          <h3 class="text-center"> Registration </h3>
          <form class="form-group" style="padding:10px" [formGroup]="registerForm" (ngSubmit)="register($event)">
            <label for="uniqueID">UniqueID</label>
              <input class="form-control mr-sm-2" id="uniqueID" formControlName="uniqueid" autofocus type="text" placeholder=" Enter your Unique ID"><br>
            <label for="email">Email Address</label>
              <input class="form-control mr-sm-2" id="email" formControlName="email" autofocus type="text" placeholder=" Enter your Email address"><br>
            <label for="username">Username</label>
              <input class="form-control mr-sm-2" id="username" formControlName="username" autofocus type="text" placeholder=" Enter your username"><br>
            <label for="password">Password </label>
              <input class="form-control mr-sm-2" id="password" formControlName="passkey" type="password" placeholder=" Password" aria-describedby="passHelp">
                <small id="passHelp" class="form-text text-muted">Please copy the password somewhere safe..no forgot password option</small><br>
            <div class="row" style="display:inline !important;">
              <div class="col-sm-5">
                  <label for="dob">Date Of Birth</label>
                  <input class="form-control col-sm-12" id="dob" date-format="YYYY-MM-DD hh:mm:ss" formControlName="dob" autofocus type="date" placeholder=" Date of birth"><br>
              </div>
              <div class="col-sm-5">
                  <label for="gender">Gender</label><br>
                  <input class="col-sm-5" id="gender" formControlName="gender" name="gender" value="male" autofocus type="radio"> Male &nbsp;&nbsp;&nbsp;
                  <input class="col-sm-5" id="gender"  formControlName="gender" name="gender" value="female"  autofocus type="radio" > Female<br><br>
                  <button class="btn btn-secondary" type="button" (click)="showFiles()"> Upload Profile Photo<input style="display:none" id="file" type="file" (change)="changeListner($event)" accept=".jpg,.png" /></button>&nbsp;&nbsp;
                  <img class="image" style="height:40px" />
              </div>
                
            </div>
  
            <div>
              <h4>Select Profession </h4>
              <select formControlName="aType" name="Select name" class="form-control dropdown"> 
                <option *ngFor="let n of names" [attr.value]="n">{{n}}</option>
              </select><br>
            </div><br>
            <!--<input type="checkbox" (click)="getWorkForm(1)" checked="{{studentForm}}" > Student <br><br>
            <input type="checkbox" (click)="getWorkForm(1)" checked="{{employeeForm}}" > Employee <br><br>
            <input type="checkbox" (click)="getWorkForm(2)" checked="{{employerForm}}"> Employer <br><br>
            <input type="checkbox" (click)="getWorkForm(3)" checked="{{collegeAdminForm}}"> School / University Staff<br><br>
            --><div *ngIf="registerForm.controls.aType.value == 'employer'">
              <label for="orgName">Organisation name</label>
              <input formControlName="orgName" id="orgName" class="form-control mr-sm-2" type="text" placeholder=" Enter your Organisation name"><br>
              <label for="position">Position</label>
              <input formControlName="position" id="position" class="form-control mr-sm-5" type="text" placeholder=" Enter your Designation"><br>
              <input type="checkbox" formControlName="isAdmin">  <small>I Hold the admin rights of my organisation to Add / Update data to network</small>
              <p></p><br>
            </div>
            <div *ngIf="registerForm.controls.aType.value =='college/school staff'">
              <label for="instNAme">Institution Name</label>
              <input formControlName="orgName" id="instNAme" class="form-control mr-sm-2" type="text" placeholder=" Enter your Institute name"><br>
              <label for="position">Position</label>
              <input formControlName="position" id="position" class="form-control mr-sm-5" type="text" placeholder=" Enter your Designation"><br>
              <input type="checkbox" formControlName="isAdmin">  <small>I Hold the admin rights of my organisation to Add / Update data to network</small>
              <p></p><br>
            </div>
            <div *ngIf="registerForm.controls.aType.value  === 'student'">
              <label for="instName">Institution Name</label>
              <input formControlName="orgName" id="instName" class="form-control mr-sm-2" type="text" placeholder=" Enter your College / School  name"><br>
            </div>
            <div *ngIf="registerForm.controls.aType.value  === 'employee'">
              <label for="orgName">Organisation name</label>
              <input formControlName="orgName" id="orgName" class="form-control mr-sm-2" type="text" placeholder=" Curent working Organisation "><br>
              <label for="position">Position</label>
              <input formControlName="position" id="position" class="form-control mr-sm-5" type="text" placeholder=" Your Designation"><br>
            </div>
            <button class="btn btn-outline-success col-sm-12" type="submit"  [disabled]="registerForm.invalid">Register into Network</button><br><br>
            <span>Already registered... <a href="#" (click)="login = true" style="font-family:cursive">Login Here</a></span>
          </form>
        </div>
      </main>